#defaultCanvas0{
  margin: 0 auto;
}
#sketch-box{
  display: flex;
}
#control-panel{
  display: flex;
  justify-content: center;
}
body{
  background-color: #111;
}
button{
  height: 50px;
}
input[type=file] {
  
}